.starContainer{margin: 10px auto;width: 200px;height: 18px}
.icons{background: url(../img/stars.png) no-repeat}
.stars{width: 85px;height: 18px;margin: 0 auto;background-position: -85px -74px;text-align: left;float: left}
.starsInner{height: 18px;background-position: 0 -74px;width:0;cursor: pointer}
.starText{margin-left: 90px;line-height: 18px;color: #FF668F}